CREATE TABLE [dbo].[VENDEDOR] (
	[ID_USUARIO] [int] NOT NULL ,
	[COMISSAO] [numeric](18, 2) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[VENDEDOR] ADD 
	CONSTRAINT [PK_VENDEDOR] PRIMARY KEY  CLUSTERED 
	(
		[ID_USUARIO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[VENDEDOR] ADD 
	CONSTRAINT [FK_VENDEDOR_USUARIO] FOREIGN KEY 
	(
		[ID_USUARIO]
	) REFERENCES [dbo].[USUARIO] (
		[ID]
	)
GO

