CREATE TABLE [dbo].[DADOS_LOTE] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[LOTE] [int] NOT NULL ,
	[DADO] [binary] (8000) NULL ,
	[OPERACAO] [varchar] (1) COLLATE Latin1_General_CI_AI NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[DADOS_LOTE] ADD 
	CONSTRAINT [PK_DADOS_LOTE] PRIMARY KEY  CLUSTERED 
	(
		[ID],
		[LOTE]
	)  ON [PRIMARY] 
GO

