CREATE TABLE [dbo].[AUTORIZADORA] (
	[ID] [int] NOT NULL ,
	[DESCRICAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[DESAGIL] [numeric](18, 2) NULL ,
	[SITUACAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AUTORIZADORA] ADD 
	CONSTRAINT [PK_AUTORIZADORA] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

