CREATE TABLE [dbo].[AUTORIZACAO_CARTAO_PROPRIO] (
	[ID] [numeric](18, 0) NOT NULL ,
	[DATA] [datetime] NULL ,
	[VALOR] [numeric](18, 2) NULL ,
	[ID_CLIENTE] [int] NULL ,
	[STATUS] [varchar] (50) COLLATE Latin1_General_CI_AI NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[EVENTO_ITEM_PAG_CARTAO_PROPRIO] (
	[LOJA] [numeric](18, 0) NOT NULL ,
	[COMPONENTE] [numeric](18, 0) NOT NULL ,
	[NUM_TRANSACAO] [numeric](18, 0) NOT NULL ,
	[DATA_TRANSACAO] [datetime] NOT NULL ,
	[NUM_EVENTO] [numeric](18, 0) NOT NULL ,
	[AUTORIZACAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AUTORIZACAO_CARTAO_PROPRIO] ADD 
	CONSTRAINT [PK_AUTORIZACAO_CARTAO_PROPRIO] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[EVENTO_ITEM_PAG_CARTAO_PROPRIO] ADD 
	CONSTRAINT [PK_EVENTO_ITEM_PAG_CARTAO_PROPRIO] PRIMARY KEY  CLUSTERED 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO],
		[NUM_EVENTO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AUTORIZACAO_CARTAO_PROPRIO] ADD 
	CONSTRAINT [AUT_CARTAO_PROPRIO_CLIENTE] FOREIGN KEY 
	(
		[ID_CLIENTE]
	) REFERENCES [dbo].[CLIENTE] (
		[ID]
	)
GO

ALTER TABLE [dbo].[EVENTO_ITEM_PAG_CARTAO_PROPRIO] ADD 
	CONSTRAINT [EV_IT_PAG_EV_IT_PAG_CART_PROPR] FOREIGN KEY 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO],
		[NUM_EVENTO]
	) REFERENCES [dbo].[EVENTO_ITEM_PAGAMENTO] (
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO],
		[NUM_EVENTO]
	)
GO

