CREATE TABLE [dbo].[CLIENTE_TRANSACAO] (
	[NOME_CLIENTE] [varchar] (100) COLLATE Latin1_General_CI_AS NOT NULL ,
	[TIPO_PESSOA] [char] (1) COLLATE Latin1_General_CI_AS NOT NULL ,
	[CPF_CNPJ] [varchar] (18) COLLATE Latin1_General_CI_AI NOT NULL ,
	[RAZAO_SOCIAL] [varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[INSCRICAO_ESTADUAL] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[INSCRICAO_MUNICIPAL] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[LOGRADOURO] [varchar] (200) COLLATE Latin1_General_CI_AS NULL ,
	[NUMERO] [varchar] (20) COLLATE Latin1_General_CI_AS NULL ,
	[COMPLEMENTO] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[BAIRRO] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[CIDADE] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[ESTADO] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[CEP] [varchar] (10) COLLATE Latin1_General_CI_AS NULL ,
	[FONE] [varchar] (12) COLLATE Latin1_General_CI_AS NULL ,
	[CELULAR] [varchar] (12) COLLATE Latin1_General_CI_AS NULL ,
	[PESSOA_CONTATO] [varchar] (100) COLLATE Latin1_General_CI_AS NULL ,
	[DATA_CADASTRO] [datetime] NOT NULL ,
	[REFERENCIA_BANCARIA] [varchar] (500) COLLATE Latin1_General_CI_AI NULL ,
	[EMAIL] [varchar] (50) COLLATE Latin1_General_CI_AI NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLIENTE_TRANSACAO] ADD 
	CONSTRAINT [PK__CLIENTE_TRANSACA__1AF3F935] PRIMARY KEY  CLUSTERED 
	(
		[CPF_CNPJ]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRANSACAO_VENDA] ADD CONSTRAINT [FK_TRANS_VENDA_CLIENTE_TRANS] FOREIGN KEY 
	(
		[CPF_CNPJ_CLIENTE_TRANSACAO]
	) REFERENCES [dbo].[CLIENTE_TRANSACAO] (
		[CPF_CNPJ]
	)
GO
