if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BAIXA_LANCAMENTO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BAIXA_LANCAMENTO]
GO

CREATE TABLE [dbo].[BAIXA_LANCAMENTO] (
	[ID] [int] NOT NULL ,
	[ID_LANCAMENTO] [int] NOT NULL ,
	[ID_FORMA_RECEBIMENTO] [numeric](18, 0) NOT NULL ,
	[ID_CONTA_CORRENTE] [int] NOT NULL ,
	[VALOR] [numeric](18, 2) NOT NULL ,
	[VALOR_DESCONTO] [numeric](18, 2) NULL ,
	[VALOR_ACRESCIMO] [numeric](18, 2) NULL ,
	[VALOR_TOTAL_ITEM] [numeric](18, 2) NOT NULL ,
	[NUMERO_DOCUMENTO] [varchar] (100) COLLATE Latin1_General_CI_AI NULL ,
	[BANCO] [varchar] (3) COLLATE Latin1_General_CI_AI NULL ,
	[AGENCIA] [varchar] (10) COLLATE Latin1_General_CI_AI NULL ,
	[NUMERO_CONTA] [varchar] (10) COLLATE Latin1_General_CI_AI NULL ,
	[NUMERO_CHEQUE] [varchar] (10) COLLATE Latin1_General_CI_AI NULL ,
	[TIPO_PESSOA_CHEQUE] [char] (1) COLLATE Latin1_General_CI_AI NULL ,
	[CPF_CNPJ_PESSOA_CHEQUE] [varchar] (14) COLLATE Latin1_General_CI_AI NULL ,
	[DATA_CHEQUE] [datetime] NULL ,
	[SITUACAO] [char] (1) COLLATE Latin1_General_CI_AI NOT NULL ,
	[ITEM_LANCADO_CTA_CORRENTE] [char] (1) COLLATE Latin1_General_CI_AI NOT NULL ,
	[DATA_BAIXA] [datetime] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BAIXA_LANCAMENTO] WITH NOCHECK ADD 
	CONSTRAINT [PK_BAIXA_LANCAMENTO] PRIMARY KEY  CLUSTERED 
	(
		[ID],
		[ID_LANCAMENTO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BAIXA_LANCAMENTO] ADD 
	CONSTRAINT [DF_BAIXA_LANCAMENTO_VALOR] DEFAULT (0.00) FOR [VALOR],
	CONSTRAINT [DF_BAIXA_LANCAMENTO_VALOR_DESCONTO] DEFAULT (0.00) FOR [VALOR_DESCONTO],
	CONSTRAINT [DF_BAIXA_LANCAMENTO_VALOR_ACRESCIMO] DEFAULT (0.00) FOR [VALOR_ACRESCIMO],
	CONSTRAINT [DF_BAIXA_LANCAMENTO_VALOR_TOTAL_ITEM] DEFAULT (0.00) FOR [VALOR_TOTAL_ITEM],
	CONSTRAINT [DF_BAIXA_LANCAMENTO_DATA_BAIXA] DEFAULT (getdate()) FOR [DATA_BAIXA]
GO

ALTER TABLE [dbo].[BAIXA_LANCAMENTO] ADD 
	CONSTRAINT [FK_BAIXA_LANCAMENTO_FORMA_RECEBIMENTO] FOREIGN KEY 
	(
		[ID_FORMA_RECEBIMENTO]
	) REFERENCES [dbo].[FORMA_RECEBIMENTO] (
		[ID]
	),
	CONSTRAINT [FK_BAIXA_LANCAMENTO_LANCAMENTO] FOREIGN KEY 
	(
		[ID_LANCAMENTO]
	) REFERENCES [dbo].[LANCAMENTO] (
		[ID]
	)
GO

