.titulo {
	font-family: verdana;
	font-size: 24px;
	font-style: bold;
}

.label {
	font-family: verdana;
	font-size: 12px;
}

.tituloColuna{
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid;
}

.tituloTabela{
	font-family: verdana;
	font-size: 12px;
	font-weight: bolder;
}

.errors{
	font-family: verdana;
	font-size: 12px;
	color: red;
}


.inputText {
	font-family: verdana;
	font-size: 12px;
	color: #781351;
	background: #fed;
	border: 1px solid #781351;
}

.inputBtn {
	color: #781351;
	font-family: 'trebuchet ms', helvetica, sans-serif;
	font-size: 84%;
	font-weight: bold;
	background-color: #fee3ad;
	border: 1px solid #781351;
}

.inputBtnhov {
	color: #781351;
	font-family: 'trebuchet ms', helvetica, sans-serif;
	font-size: 84%;
	font-weight: bold;
	background-color: #FFA07A;
	border: 1px solid #781351;
}

.info {
	color: #781351;
	font-family: verdana;
	font-size: 12px;
}

.table {
	border: 1;
	border-spacing: 0;
}