<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>locale-language</param-name>
		<param-value>pt</param-value>
	</context-param>
	
	<context-param>
		<param-name>locale-country</param-name>
		<param-value>BR</param-value>
	</context-param>
	
	<error-page>
            <error-code>500</error-code>
            <location>/jsp/erro.jsf</location>
    </error-page>
	
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>   
        <param-name>com.sun.faces.verifyObjects</param-name>   
        <param-value>false</param-value>   
    </context-param>   
    <context-param>   
        <param-name>   
            org.apache.myfaces.CHECK_EXTENSIONS_FILTER   
        </param-name>   
        <param-value>false</param-value>   
    </context-param>   
    <context-param>   
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>   
        <param-value>server</param-value>   
    </context-param>   
    <context-param>   
        <param-name>com.sun.faces.validateXml</param-name>   
        <param-value>true</param-value>   
    </context-param>  
    
    <listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>
	 
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GerarBoletoServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.GerarBoletoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceptorTransacaoServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ReceptorTransacaoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerificadorNovoLoteServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.VerificadorNovoLoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransmissorLoteServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.TransmissorLoteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ConsultarClienteTransacaoServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ConsultarClienteTransacaoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SalvarInfoComponenteServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.SalvarInfoComponenteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultarOperacaoServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ConsultarOperacaoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultarOperacoesServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ConsultarOperacoesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlterarOperacaoServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.AlterarOperacaoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AutorizarTransacaoCartaoProprioServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.AutorizarTransacaoCartaoProprioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmarTransacaoCartaoProprioServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ConfirmarTransacaoCartaoProprioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DesfazerTransacaoCartaoProprioServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.DesfazerTransacaoCartaoProprioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultarDebitosCartaoProprioServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ConsultarDebitosCartaoProprioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultarCargaBaseServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ConsultarCargaBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerificadorNovaCargaBaseServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.VerificadorNovaCargaBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApagarNovaCargaBaseServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.ApagarNovaCargaBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GeraNovaCargaBaseServlet</servlet-name>
		<servlet-class>com.infinity.datamarket.enterprise.gui.servlets.GeraNovaCargaBaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeraNovaCargaBaseServlet</servlet-name>
		<url-pattern>/GeraNovaCargaBaseServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApagarNovaCargaBaseServlet</servlet-name>
		<url-pattern>/ApagarNovaCargaBaseServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerificadorNovaCargaBaseServlet</servlet-name>
		<url-pattern>/VerificadorNovaCargaBaseServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultarCargaBaseServlet</servlet-name>
		<url-pattern>/ConsultarCargaBaseServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultarClienteTransacaoServlet</servlet-name>
		<url-pattern>/ConsultarClienteTransacaoServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalvarInfoComponenteServlet</servlet-name>
		<url-pattern>/SalvarInfoComponenteServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultarOperacaoServlet</servlet-name>
		<url-pattern>/ConsultarOperacaoServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultarOperacoesServlet</servlet-name>
		<url-pattern>/ConsultarOperacoesServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlterarOperacaoServlet</servlet-name>
		<url-pattern>/AlterarOperacaoServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutorizarTransacaoCartaoProprioServlet</servlet-name>
		<url-pattern>/AutorizarTransacaoCartaoProprioServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmarTransacaoCartaoProprioServlet</servlet-name>
		<url-pattern>/ConfirmarTransacaoCartaoProprioServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DesfazerTransacaoCartaoProprioServlet</servlet-name>
		<url-pattern>/DesfazerTransacaoCartaoProprioServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultarDebitosCartaoProprioServlet</servlet-name>
		<url-pattern>/ConsultarDebitosCartaoProprioServlet.servlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReceptorTransacaoServlet</servlet-name>
		<url-pattern>/ReceptorTransacaoServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransmissorLoteServlet</servlet-name>
		<url-pattern>/TransmissorLoteServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerificadorNovoLoteServlet</servlet-name>
		<url-pattern>/VerificadorNovoLoteServlet.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GerarBoletoServlet</servlet-name>
		<url-pattern>/GerarBoletoServlet.servlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	
	<!-- servlet mapping -->   
    <servlet-mapping>   
        <servlet-name>Faces Servlet</servlet-name>   
        <url-pattern>*.jsf</url-pattern>   
    </servlet-mapping>   
    <servlet-mapping>   
        <servlet-name>Faces Servlet</servlet-name>   
        <url-pattern>/faces/*</url-pattern>   
    </servlet-mapping>   
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	 <!-- Extensions Filter -->   
    <filter>   
        <filter-name>extensionsFilter</filter-name>   
        <filter-class>   
            org.apache.myfaces.component.html.util.ExtensionsFilter   
        </filter-class>   
        <init-param>   
            <param-name>uploadMaxFileSize</param-name>   
            <param-value>100m</param-value>   
        </init-param>   
        <init-param>   
            <param-name>uploadThresholdSize</param-name>   
            <param-value>100k</param-value>   
        </init-param>   
    </filter>   
    <!-- Filter Mappings -->   
    <filter-mapping>   
        <filter-name>extensionsFilter</filter-name>   
        <url-pattern>*.jsp</url-pattern>   
    </filter-mapping>   
    <filter-mapping>   
        <filter-name>extensionsFilter</filter-name>   
        <url-pattern>/*</url-pattern>   
    </filter-mapping>   
    <filter-mapping>   
        <filter-name>extensionsFilter</filter-name>   
        <url-pattern>/faces/*</url-pattern>   
    </filter-mapping>   
    <!-- extension mapping for serving page-independent resources (javascript, stylesheets, images, etc.)  -->   
	
	<filter-mapping>   
        <filter-name>extensionsFilter</filter-name>   
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>   
    </filter-mapping>   
    <filter-mapping>   
        <filter-name>extensionsFilter</filter-name>   
        <servlet-name>Faces Servlet</servlet-name>   
    </filter-mapping> 
	
	<filter>
		<filter-name>yui4jsf filter</filter-name>
		<filter-class>net.sf.yui4jsf.filter.YUI4JSFFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>yui4jsf filter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.component.html.util.ExtensionsFilter
		</filter-class>
		<init-param>
			<param-name>maxFileSize</param-name>
			<param-value>20m</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>*.*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
    
    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter>
        <filter-name>HibernateFilter</filter-name>
        <filter-class>com.infinity.datamarket.enterprise.gui.util.HibernateRequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <icon>
    	<large-icon id="icone">/Enterprise.ico</large-icon>
    	
    </icon>
</web-app>

