/*
   sábado, 16 de fevereiro de 200823:26:16
   User: sa
   Server: JFCFILHO
   Database: PDV
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LOJA ADD
	NUMERO_IP varchar(15) NULL,
	NUMERO_PORTA varchar(4) NULL
GO
COMMIT
