-- ----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 1.92
-- http://www.sqlscripter.com
-- 1/4/2008
-- 37 Records
-- ----------------------------------------------------------------


IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 1) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 1)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 2) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 2)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 4) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 4)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 5) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 5)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 6) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 6)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 7) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 7)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 8) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 8)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 9) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 9)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 10) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 10)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 11) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 11)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 12) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 12)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 13) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 13)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 14) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 14)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 15) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 15)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 16) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 16)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 17) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 17)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 18) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 18)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 19) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 19)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 20) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 20)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 21) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 21)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 22) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 22)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 23) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 23)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 24) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 24)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 25) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 25)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 26) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 26)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 27) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 27)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 28) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 28)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 29) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 29)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 30) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 30)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 31) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 31)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 32) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 32)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 34) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 34)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 35) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 35)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 1 AND [ID_FUNCIONALIDADE] = 999) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (1, 999)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 4 AND [ID_FUNCIONALIDADE] = 1) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (4, 1)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 4 AND [ID_FUNCIONALIDADE] = 33) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (4, 33)

END

IF NOT EXISTS (SELECT [ID_PERFIL], [ID_FUNCIONALIDADE] FROM [dbo].[PERFIL_FUNCIONALIDADE] WHERE [ID_PERFIL] = 4 AND [ID_FUNCIONALIDADE] = 999) BEGIN

     INSERT INTO [dbo].[PERFIL_FUNCIONALIDADE] ([ID_PERFIL], [ID_FUNCIONALIDADE])
     VALUES (4, 999)

END


