-- ----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 1.92
-- http://www.sqlscripter.com
-- 4/4/2008
-- 39 Records
-- ----------------------------------------------------------------


IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 1) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (1, NULL, 'Cadastros		', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 2) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (2, 1, 'Usuário		', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 3) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (3, 2, 'Inserir Usuário	', 'S', 'inserirUsuario')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 4) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (4, 2, 'Manter Usuário	', 'S', 'manterUsuario')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 5) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (5, 1, 'Perfil		', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 6) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (6, 5, 'Inserir Perfil	', 'S', 'inserirPerfil')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 7) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (7, 5, 'Manter Perfil		', 'S', 'manterPerfil')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 8) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (8, 1, 'Loja	        	', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 9) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (9, 8, 'Inserir Loja		', 'S', 'inserirLoja')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 10) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (10, 8, 'Manter Loja		', 'S', 'manterLoja')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 11) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (11, 1, 'Componente', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 12) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (12, 11, 'Inserir Componente', 'S', 'inserirComponente')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 13) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (13, 11, 'Manter Componente', 'S', 'manterComponente')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 14) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (14, 1, 'Administração de Produtos', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 15) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (15, 14, 'Grupo de Produto', 'S', '')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 16) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (16, 15, 'Inserir Grupo Produto', 'S', 'inserirGrupoProduto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 17) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (17, 15, 'Manter Grupo de Produto', 'S', 'manterGrupoProduto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 18) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (18, 14, 'Tipo de Produto', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 19) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (19, 18, 'Inserir Tipo de Produto', 'S', 'inserirTipoProduto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 20) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (20, 18, 'Manter Tipo de Produto', 'S', 'manterTipoProduto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 21) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (21, 14, 'Produto', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 22) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (22, 21, 'Inserir Produto', 'S', 'inserirProduto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 23) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (23, 21, 'Manter Produto', 'S', 'manterProduto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 24) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (24, 14, 'Unidade', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 25) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (25, 24, 'Inserir Unidade', 'S', 'inserirUnidade')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 26) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (26, 24, 'Manter Unidade', 'S', 'manterUnidade')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 27) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (27, 14, 'Imposto', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 28) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (28, 27, 'Inserir Imposto', 'S', 'inserirImposto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 29) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (29, 27, 'Manter Imposto', 'S', 'manterImposto')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 30) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (30, 1, 'Forma de Recebimento', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 31) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (31, 30, 'Inserir Forma de Recebimento', 'S', 'inserirFormaRecebimento')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 32) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (32, 30, 'Manter Forma de Recebimento', 'S', 'manterFormaRecebimento')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 33) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (33, 1, 'Plano de Pagamento', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 34) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (34, 33, 'Inserir Plano de Pagamento', 'S', 'inserirPlanoPagamento')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 35) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (35, 33, 'Manter Plano de Pagamento', 'S', 'manterPlanoPagamento')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 36) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (36, 1, 'Estoque', 'S', NULL)

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 37) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (37, 36, 'Inserir Estoque', 'S', 'inserirEstoque')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 38) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (38, 36, 'Manter Estoque', 'S', 'manterEstoque')

END

IF NOT EXISTS (SELECT [ID] FROM [dbo].[FUNCIONALIDADE] WHERE [ID] = 999) BEGIN

     INSERT INTO [dbo].[FUNCIONALIDADE] ([ID], [ID_FUNC_SUPERIOR], [DESCRICAO], [SITUACAO], [URL])
     VALUES (999, 33, 'Logout', 'S', 'logout')

END


