CREATE TABLE [dbo].[INFO_COMPONENT] (
	[COMPONENTE] [varchar] (50) COLLATE Latin1_General_CI_AI NOT NULL ,
	[VERSAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[LOTE] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[ESTADO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[ATUALIZACAO] [datetime] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[INFO_COMPONENT] ADD 
	CONSTRAINT [PK_INFO_COMPONENTE] PRIMARY KEY  CLUSTERED 
	(
		[COMPONENTE]
	)  ON [PRIMARY] 
GO

