CREATE TABLE [dbo].[ESTOQUE] (
	[ID] [int] NOT NULL ,
	[DESCRICAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[ID_LOJA] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ESTOQUE] ADD 
	CONSTRAINT [PK_ESTOQUE] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ESTOQUE] ADD 
	CONSTRAINT [FK_ESTOQUE_LOJA] FOREIGN KEY 
	(
		[ID_LOJA]
	) REFERENCES [dbo].[LOJA] (
		[ID]
	)
GO

