CREATE TABLE [dbo].[ENTRADA_PRODUTO] (
	[ID] [int] NOT NULL ,
	[NUMERO_NOTA] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[DATA_EMISSAO_NOTA] [datetime] NULL ,
	[DATA_ENTRADA] [datetime] NULL ,
	[FRETE] [numeric](18, 2) NULL ,
	[ICMS] [numeric](18, 2) NULL ,
	[IPI] [numeric](18, 2) NULL ,
	[DESCONTO] [numeric](18, 2) NULL ,
	[VALOR] [numeric](18, 2) NULL ,
	[ID_FORNECEDOR] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ESTOQUE_PRODUTO] (
	[ID_PRODUTO] [numeric](18, 0) NOT NULL ,
	[ID_ESTOQUE] [int] NOT NULL ,
	[ID_LOJA] [numeric](18, 0) NOT NULL ,
	[QUANTIDADE] [numeric](18, 2) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PRODUTO_ENTRADA_PRODUTO] (
	[ID_PRODUTO] [int] NOT NULL ,
	[PRECO_UNITARIO] [numeric](18, 2) NULL ,
	[QUANTIDADE] [numeric](18, 3) NULL ,
	[DESCONTO] [numeric](18, 2) NULL ,
	[ICMS] [numeric](18, 2) NULL ,
	[IPI] [numeric](18, 2) NULL ,
	[TOTAL] [numeric](18, 2) NULL ,
	[NUM_ENTRADA] [int] NOT NULL ,
	[ID_ENTRADA_PRODUTO] [int] NOT NULL ,
	[ID_LOJA] [numeric](18, 0) NULL ,
	[ID_ESTOQUE] [int] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ENTRADA_PRODUTO] ADD 
	CONSTRAINT [PK_ENTRADA_PRODUTO] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ESTOQUE_PRODUTO] ADD 
	CONSTRAINT [PK_ESTOQUE_PRODUTO] PRIMARY KEY  CLUSTERED 
	(
		[ID_PRODUTO],
		[ID_ESTOQUE],
		[ID_LOJA]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PRODUTO_ENTRADA_PRODUTO] ADD 
	CONSTRAINT [PK_PRODUTO_ENTRADA_PRODUTO] PRIMARY KEY  CLUSTERED 
	(
		[ID_PRODUTO],
		[NUM_ENTRADA],
		[ID_ENTRADA_PRODUTO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ENTRADA_PRODUTO] ADD 
	CONSTRAINT [FK_ENTRADA_PRODUTO_FORNECEDOR] FOREIGN KEY 
	(
		[ID_FORNECEDOR]
	) REFERENCES [dbo].[FORNECEDOR] (
		[ID]
	)
GO

ALTER TABLE [dbo].[ESTOQUE_PRODUTO] ADD 
	CONSTRAINT [FK_ESTOQUE_PRODUTO_ESTOQUE] FOREIGN KEY 
	(
		[ID_ESTOQUE],
		[ID_LOJA]
	) REFERENCES [dbo].[ESTOQUE] (
		[ID],
		[ID_LOJA]
	),
	CONSTRAINT [FK_ESTOQUE_PRODUTO_PRODUTO] FOREIGN KEY 
	(
		[ID_PRODUTO]
	) REFERENCES [dbo].[PRODUTO] (
		[ID]
	)
GO

ALTER TABLE [dbo].[PRODUTO_ENTRADA_PRODUTO] ADD 
	CONSTRAINT [FK_PRODUTO_ENTRADA_PRODUTO_ESTOQUE] FOREIGN KEY 
	(
		[ID_ESTOQUE],
		[ID_LOJA]
	) REFERENCES [dbo].[ESTOQUE] (
		[ID],
		[ID_LOJA]
	)
GO

