CREATE TABLE [dbo].[MOVIMENTACAO_ESTOQUE] (
	[ID_ESTOQUE_SAI] [int] NULL ,
	[ID_ESTOQUE_ENT] [int] NULL ,
	[DATA] [datetime] NULL ,
	[ID] [int] NOT NULL ,
	[ID_USUARIO] [int] NULL ,
	[ID_LOJA_SAI] [numeric](18, 0) NULL ,
	[ID_LOJA_ENT] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PRODUTO_MOVIMENTACAO_ESTOQUE] (
	[NUM_ENTRADA] [int] NOT NULL ,
	[ID_MOVIMENTACAO_ESTOQUE] [int] NOT NULL ,
	[ID_PRODUTO] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE] ADD 
	CONSTRAINT [PK_MOVIMENTACAO_ESTOQUE] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PRODUTO_MOVIMENTACAO_ESTOQUE] ADD 
	CONSTRAINT [PK_PRODUTO_MOVIMENTACAO_ESTOQUE] PRIMARY KEY  CLUSTERED 
	(
		[NUM_ENTRADA],
		[ID_MOVIMENTACAO_ESTOQUE]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE] ADD 
	CONSTRAINT [FK_MOV_ESTOQUE_ENT_ESTOQUE] FOREIGN KEY 
	(
		[ID_ESTOQUE_ENT],
		[ID_LOJA_ENT]
	) REFERENCES [dbo].[ESTOQUE] (
		[ID],
		[ID_LOJA]
	),
	CONSTRAINT [FK_MOV_ESTOQUE_SAI_ESTOQUE] FOREIGN KEY 
	(
		[ID_ESTOQUE_SAI],
		[ID_LOJA_SAI]
	) REFERENCES [dbo].[ESTOQUE] (
		[ID],
		[ID_LOJA]
	)
GO

ALTER TABLE [dbo].[PRODUTO_MOVIMENTACAO_ESTOQUE] ADD 
	CONSTRAINT [FK_MOV_ESTOQUE_PROD_MOV_ESTOQUE] FOREIGN KEY 
	(
		[ID_MOVIMENTACAO_ESTOQUE]
	) REFERENCES [dbo].[MOVIMENTACAO_ESTOQUE] (
		[ID]
	),
	CONSTRAINT [FK_MOV_ESTOQUE_PROD_PROD] FOREIGN KEY 
	(
		[ID_PRODUTO]
	) REFERENCES [dbo].[PRODUTO] (
		[ID]
	)
GO

