USE [pdv]
GO
/****** Object:  Table [dbo].[PRODUTO_MOVIMENTACAO_ESTOQUE]    Script Date: 05/27/2008 20:01:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO_MOVIMENTACAO_ESTOQUE](
	[NUM_ENTRADA] [numeric](18, 0) NOT NULL,
	[ID_MOVIMENTACAO_ESTOQUE] [numeric](18, 0) NOT NULL,
	[ID_PRODUTO] [numeric](18, 0) NULL,
	[QUANTIDADE] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PRODUTO_MOVIMENTACAO_ESTOQUE] PRIMARY KEY CLUSTERED 
(
	[NUM_ENTRADA] ASC,
	[ID_MOVIMENTACAO_ESTOQUE] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
