CREATE TABLE [dbo].[EVENTO_ITEM_PAG_CARTAO_OFF] (
	[LOJA] [numeric](18, 0) NOT NULL ,
	[COMPONENTE] [numeric](18, 0) NOT NULL ,
	[NUM_TRANSACAO] [numeric](18, 0) NOT NULL ,
	[DATA_TRANSACAO] [datetime] NOT NULL ,
	[NUM_EVENTO] [numeric](18, 0) NOT NULL ,
	[NUMERO_CARTAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[QTD_PARCELAS] [int] NULL ,
	[AUTORIZACAO] [varchar] (50) COLLATE Latin1_General_CI_AI NULL ,
	[COD_AUTORIZADORA] [varchar] (50) COLLATE Latin1_General_CI_AI NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[EVENTO_ITEM_PAG_CARTAO_OFF] ADD 
	CONSTRAINT [PK_EVENTO_ITEM_PAG_CARTAO_OFF] PRIMARY KEY  CLUSTERED 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO],
		[NUM_EVENTO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[EVENTO_ITEM_PAG_CARTAO_OFF] ADD 
	CONSTRAINT [EV_IT_PAG_EV_IT_PAG_CARTAO_OFF] FOREIGN KEY 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO],
		[NUM_EVENTO]
	) REFERENCES [dbo].[EVENTO_ITEM_PAGAMENTO] (
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO],
		[NUM_EVENTO]
	)
GO

