ALTER TABLE [dbo].[EVENTO_TRANSACAO] DROP 
	CONSTRAINT FK_TRANS_VENDA_EVENTO_TRANS

ALTER TABLE [dbo].[EVENTO_TRANSACAO] ADD 
	CONSTRAINT [FK_TRANSACAO_EVENTO_TRANSACAO] FOREIGN KEY 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	) REFERENCES [dbo].[TRANSACAO] (
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	)
GO

CREATE TABLE [dbo].[TRANSACAO_PAGAMENTO] (
	[LOJA] [numeric](18, 0) NOT NULL ,
	[COMPONENTE] [numeric](18, 0) NOT NULL ,
	[NUM_TRANSACAO] [numeric](18, 0) NOT NULL ,
	[DATA_TRANSACAO] [datetime] NOT NULL ,
	[VALOR] [numeric](18, 2) NOT NULL ,
	[DESCONTO] [numeric](18, 2) NULL ,
	[ACRESSIMO] [numeric](18, 2) NULL ,
	[COD_USU_OPERADOR] [varchar] (50) COLLATE Latin1_General_CI_AI NOT NULL ,
	[DATA_HORA_INICIO] [datetime] NULL ,
	[DATA_HORA_FIM] [datetime] NULL ,
	[SITUACAO] [varchar] (1) COLLATE Latin1_General_CI_AI NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TRANSACAO_PAGTO_CARTAO_PROPRIO] (
	[LOJA] [numeric](18, 0) NOT NULL ,
	[COMPONENTE] [numeric](18, 0) NOT NULL ,
	[NUM_TRANSACAO] [numeric](18, 0) NOT NULL ,
	[DATA_TRANSACAO] [datetime] NOT NULL ,
	[CPFCNPJ] [varchar] (50) COLLATE Latin1_General_CI_AI NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TRANSACAO_PAGAMENTO] ADD 
	CONSTRAINT [PK_TRANSACAO_PAGAMENTO] PRIMARY KEY  CLUSTERED 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRANSACAO_PAGTO_CARTAO_PROPRIO] ADD 
	CONSTRAINT [PK_TRANSACAO_PAGTO_CARTAO_PROPRIO] PRIMARY KEY  CLUSTERED 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TRANSACAO_PAGAMENTO] ADD 
	CONSTRAINT [FK_TRANS_PAGTO_TRANSACAO] FOREIGN KEY 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	) REFERENCES [dbo].[TRANSACAO] (
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	)
GO

ALTER TABLE [dbo].[TRANSACAO_PAGTO_CARTAO_PROPRIO] ADD 
	CONSTRAINT [FK_TRA_PAGT_TRA_PAGT_CART_PROP] FOREIGN KEY 
	(
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	) REFERENCES [dbo].[TRANSACAO_PAGAMENTO] (
		[LOJA],
		[COMPONENTE],
		[NUM_TRANSACAO],
		[DATA_TRANSACAO]
	)
GO

